Design.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>

<xs:element name="id">
<xs:simpleType>
    <xs:restriction base="xs:integer">
      <xs:pattern id="1" value="[0-9][0-9][0-9][0-9]"/>
    </xs:restriction>
  </xs:simpleType>
</xs:element>


<xs:element name="id_card">
<xs:simpleType>
    <xs:restriction base="xs:integer">
      <xs:pattern id="1" value="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"/>
    </xs:restriction>
  </xs:simpleType>
</xs:element>


<xs:element name="IdBook">
  <xs:simpleType>
    <xs:restriction base="xs:integer">
      <xs:pattern  id="1" value="[0-9][0-9][0-9]"/>
    </xs:restriction>
  </xs:simpleType>
</xs:element>



<xs:element name="firstname">
  <xs:simpleType>
    <xs:restriction base="xs:string">
      <xs:pattern  id="2" value="[a-zA-z][a-zA-z][a-zA-z][a-zA-z]"/>
    </xs:restriction>
  </xs:simpleType>
</xs:element>


<xs:element name="TypeBook">
  <xs:simpleType>
    <xs:restriction base="xs:string">
      <xs:enumeration  id="3" value="Computer"/>
      <xs:enumeration  id="4" value="Math"/>
      <xs:enumeration  id="5" value="History"/>
    </xs:restriction>
  </xs:simpleType>
</xs:element>



<xs:element name="start"  id="7" type="xs:date"/>

</xs:schema>